{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
	<div class="carousel-inner">
		<img class="d-block w-100" alt="Carousel Bootstrap Second" src="https://keukenhulpjes.be/wp-content/uploads/2020/07/Mooi-gedekte-tafel.jpg" height=400px />
		<div class="carousel-caption" position="left">
            <img src="assets/img/logo-v2.png"/>
		</div>
	</div> 
{% endblock %}

{# nu de block content op in de main pagina vullen #}
{% block recept_option %}
    {# Dit is commentaar #}

    {# Print #}
    <h1 class="text-warning">Receptenboek</h1>
    <h2>klik er een aan</h2>
    <h3>en stel gemakkelijk een boodschappenlijstje samen</h3>

    <h4>Dit is de template {{  title }}</h4>

{# Loop #}

<div class="row">
    {% for record in data %}
        <div class="col-md-6">
                
            <ul>
                <li><h4>
                <a href="http://localhost/educom-verrukkulluk/index.php?recept_id={{record.recept.id}}&action=detail">{{record.recept.titel}}</a>
                </h4></li>
                    <ul>
                <li>
                {{record.recept.short_desc}}
                </li>
                <ul class="kitchentype">
                <li>
                {{record.keuken.omschrijving}}
                </li>
                <li>
                {{record.type.omschrijving}}
                </li>
                </ul>
                <img = src="{{record.recept.foto}}" width ="200" height="200" >
                
            </ul>
            </ul>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block agenda %}
    		 <h2 class = "text-warning">Agenda</h2>
            <i class="fa fa-calendar"></i> FontAwesome <br>
			<i class="fa fa-calendar"></i><a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
			<i class="fa fa-calendar"></i> Event 1 <br>
			<i class="fa fa-calendar"></i> Event 2 <br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a>
{% endblock %}

{% block login %}
                            <h3 class="text-warning"> Login </h3>
							<p> email</p>
        					<textarea name="email" rows="1" cols="30"></textarea>
							<p> password </p>
							<textarea name="password" rows="1" cols="30"></textarea>
                            
{% endblock %}
{% block footer %}
		<h3 class="text-danger">
			<h1>Footer</h1>
		</h3>
{% endblock %}